body {
    background-color:darkmagenta;
    color:whitesmoke;
}
h1 {
    text-align:center;

}
a{
    color:whitesmoke;
    background-color:orange;
}
ul {
    list-style:none;
}
li {
    float:left;
    padding:2em;
  
}